.scoreboard-style {

  min-height: 60vh;
}

.background-img {
  background-position: center;
  background-size: cover;
  background-image: url("https://images.unsplash.com/photo-1569531955323-33c6b2dca44b?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=692&q=80");
}

.team-style {
  font-size: 100px;

}

.score-style {
  font-size: 300px;
  border: 3px solid rgb(26, 215, 248);
  border-radius: .5rem;
  font-family: 'Roboto Mono', monospace;
  background-color: rgba(91, 96, 240, 0.5);
}

.header-style {
  min-height: 10vh;
}

/* Utilities  */

.background-style {
  background-color: rgba(42, 48, 221, 0.5);

}

.incr-style {
  font-size: 30px;

}

.txt-shadow {
  text-shadow: 2px 2px 4px white;
}